
@page "/"

@using Papasi.Theme.libs;

@inject ITheme Theme;

@layout Layout.WithoutSidebar;


<!--begin::Heading-->
<div class="text-center mb-11">
	<!--begin::Logo-->
	<a href="/market" class="mb-30">
		<img alt="Logo" src='@Theme.getAssetPath("media/logos/default.svg")' class="theme-light-show h-70px" />
		<img alt="Logo" src='@Theme.getAssetPath("media/logos/default-dark.svg")' class="theme-dark-show h-70px" />
	</a>
	<!--end::Logo-->
	<!--begin::Subtitle-->
	<div class="text-gray-500 fw-semibold fs-6 mt-10">
		Decentralized Exchange
	</div>
	<!--end::Subtitle--->
</div>
<!--begin::Heading-->
<!--begin::blockcore tools-->
<div class="row g-3 mb-9">
	<!--begin::Col-->
	<div class="col-md-6">
		<!--begin::Blockcore Wallet link--->
		<a href="https://chrome.google.com/webstore/detail/blockcore-wallet/peigonhbenoefaeplkpalmafieegnapj" class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
			<img alt="Logo" src='@Theme.getAssetPath("media/icons/blockcore-wallet.png")' class="h-15px me-3" />
			Download Wallet
		</a>
		<!--end::Blockcore Wallet link--->
	</div>
	<!--end::Col-->
	<!--begin::Col-->
	<div class="col-md-6">
		<!--begin::Blockcore Atomic Swaps service providers list link--->
		<a href="/market/providers" class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
			<img alt="Logo" src='@Theme.getAssetPath("media/icons/blockcore-atomic-swap.png")' class="h-15px me-3" />
			Atomic Swaps Providers
		</a>
		<!--end::Blockcore Atomic Swaps service providers list link--->
	</div>
	<!--end::Col-->
</div>
<!--end::blockcore tools-->
<!--begin::Separator-->
<div class="separator separator-content my-14"><span class="w-125px text-gray-500 fw-semibold fs-7">Market</span></div>
<!--end::Separator-->
<!--begin::Papasi Markets button-->
<div class="d-grid mb-10">
	<a href="/market/markets" class="btn btn-primary">
			Papasi Markets
	</a>

</div>
<!--end::Papasi Markets button-->
