@using Layout.Partials.SidebarLayout.Sidebar;

<!--begin::sidebar-->
<div id="swap_app_sidebar" class="app-sidebar flex-column" data-swap-drawer="true" data-swap-drawer-name="app-sidebar" data-swap-drawer-activate="{default: true, lg: false}" data-swap-drawer-overlay="true" data-swap-drawer-width="225px" data-swap-drawer-direction="start" data-swap-drawer-toggle="#swap_app_sidebar_mobile_toggle">
	<_SidebarLogo></_SidebarLogo>
	<_SidebarMenu></_SidebarMenu>
	<_SidebarFooter></_SidebarFooter>
</div>
<!--end::sidebar-->