@page "/market/markets"
@page "/market"
@using Papasi.Shared.Partials.Widgets.Cards;
@using Papasi.Shared.Partials.Widgets.Charts;
@using Papasi.Shared.Partials.Widgets.Engage;
@using Papasi.Shared.Partials.Widgets.Lists;
@using Papasi.Shared.Partials.Widgets.Tables;

<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
	<!--begin::Col-->
	<div class="col-xxl-12">
		<_EngageWidget10></_EngageWidget10>
	</div>
	<!--end::Col-->
</div>


