@page "/market/trade"
@using Papasi.Shared.Partials.Widgets.Cards;
@using Papasi.Shared.Partials.Widgets.Charts;
@using Papasi.Shared.Partials.Widgets.Engage;
@using Papasi.Shared.Partials.Widgets.Lists;
@using Papasi.Shared.Partials.Widgets.Tables;

<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
	<!--begin::Col-->
	<div class="col-xl-4">
		<_ChartsWidget35></_ChartsWidget35>
	</div>
	<!--end::Col-->
	<!--begin::Col-->
	<div class="col-xl-8">
		<_TablesWidget14></_TablesWidget14>
	</div>
	<!--end::Col-->
</div>
<!--end::Row-->