body {
    overscroll-behavior-y: contain;
    overflow-x: hidden;
    overflow-y: overlay !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #595b5ca4;
    // border-radius: 20px;
    border-left: 6px solid transparent;
    background-clip: content-box;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a3a5a7c2;
        border-left: 6px solid transparent;
    }
