@page "/market/index"
@page "/market"

@using Papasi.Shared.Partials.Widgets.Market;
@using Papasi.Shared.Partials.Widgets.Charts;


<Title Value="Markets"></Title>
<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
	<!--begin::Col-->
	<div class="col-xxl-12">
		<_CoinsWidget CoinsList="@coinsList"></_CoinsWidget>
	</div>
	<!--end::Col-->
</div>


