@page "/market/providers"

<Title Value="Providers"></Title>

@using Papasi.Shared.Partials.Widgets.Provider;


<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
	<!--begin::Col-->
	<div class="col-xxl-12">
		<_WidgetProviders Providers="providers"></_WidgetProviders>
 	</div>
	<!--end::Col-->
</div>


