@page "/dashboards"

@page "/example-1"
@page "/example-2"
@page "/example-3"
@page "/example-4"
@page "/example-5"
@page "/example-6"
@page "/example-7"
@page "/example-8"

@using Papasi.Shared.Partials.Widgets.Cards;
@using Papasi.Shared.Partials.Widgets.Charts;
@using Papasi.Shared.Partials.Widgets.Engage;
@using Papasi.Shared.Partials.Widgets.Lists;
@using Papasi.Shared.Partials.Widgets.Tables;

<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
	<!--begin::Col-->
	<div class="col-xxl-12">
		<_EngageWidget10></_EngageWidget10>
	</div>
	<!--end::Col-->
</div>


