<!--begin::Menu wrapper-->
<div class="app-header-menu app-header-mobile-drawer align-items-stretch" data-swap-drawer="true" data-swap-drawer-name="app-header-menu" data-swap-drawer-activate="{default: true, lg: false}" data-swap-drawer-overlay="true" data-swap-drawer-width="225px" data-swap-drawer-direction="end" data-swap-drawer-toggle="#swap_app_header_menu_toggle" data-swap-swapper="true" data-swap-swapper-mode="{default: 'append', lg: 'prepend'}" data-swap-swapper-parent="{default: '#swap_app_body', lg: '#swap_app_header_wrapper'}">
	<!--begin::Menu-->
	<div class="menu menu-rounded menu-column menu-lg-row my-5 my-lg-0 align-items-stretch fw-semibold px-2 px-lg-0" id="swap_app_header_menu" data-swap-menu="true">
		<!--begin:Menu item-->
		<div data-swap-menu-trigger="{default: 'click', lg: 'hover'}" data-swap-menu-placement="bottom-start" class="menu-item here show menu-lg-down-accordion menu-here-bg me-0 me-lg-2">
			<!--begin:Menu link-->
			<span class="menu-link">
				<span class="menu-title">Papasi Services</span>
				<span class="menu-arrow d-lg-none"></span>
			</span>
			<!--end:Menu link-->
			<!--begin:Menu sub-->
			<div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown p-0 w-100 w-lg-850px">
				<__Dashboards></__Dashboards>
			</div>
			<!--end:Menu sub-->
		</div>
		<!--end:Menu item-->
 	</div>
	<!--end::Menu-->
</div>
<!--end::Menu wrapper-->